.output {
    display: none;
    font-size: 2em;
    margin-top: 25px;
    font-weight: bold;
    color: red;
}

body {
    background: bisque;
}

#alcoholhero {
    background-image: url("img/alcohol.jpg");
    height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 64em) {
    #alcoholhero {
        height: 250px;
    }
}
@media only screen and (max-width: 37.5em) {
    #alcoholhero {
        background-image: none;
        height: 0;
    }
}